#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

/ {
    behaviors {
        td0: Shit-DbTapCaps {
            compatible = "zmk,behavior-tap-dance";
            label = "Shit-DbTapCaps";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td1: TabTabEsc {
            compatible = "zmk,behavior-tap-dance";
            label = "TabTabEsc";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp TAB>, <&kp ESC>;
        };

        hml: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <7 8 9 10 11 12 20 21 22 23 24 25 33 34 35 36 37 38 44 45 46>;
            flavor = "tap-unless-interrupted";
            quick-tap-ms = <200>;
        };

        hmR: homewrow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 26 27 28 29 30 31 39 40 41 42>;
            flavor = "tap-unless-interrupted";
            quick-tap-ms = <200>;
        };

        thumb: thumb {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        rgbknob: rgbknob {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "rgb knob";
            #sensor-binding-cells = <2>;
            bindings = <&rgb_ug>, <&rgb_ug>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |                ↑    |  Y  |  U   |  I  |  O  |  P  | BKSP |      &kp UP_ARROW 
            // | SHIFT |  A  |  S  |  D  |  F  |  G  |               ↓    |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |                ←    |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |                →    | ENT | RSE  | ALT |
            //                                                      enter

            bindings = <
&td1       &kp Q              &kp W         &kp E            &kp R            &kp T                    &kp UP_ARROW     &kp Y        &kp U             &kp I             &kp O         &kp P                       &kp BSPC
&td0       &hml LEFT_SHIFT A  &hml LCTRL S  &hml LEFT_ALT D  &hml LEFT_GUI F  &kp G                    &kp DOWN_ARROW   &kp H        &hmR RIGHT_GUI J  &hmR RIGHT_ALT K  &hmR RCTRL L  &hmR RIGHT_SHIFT SEMICOLON  &kp SQT
&kp LCTRL  &kp Z              &kp X         &kp C            &kp V            &kp B                    &kp LEFT_ARROW   &kp N        &kp M             &kp COMMA         &kp DOT       &kp FSLH                    &kp RIGHT_SHIFT
                              &kp C_MUTE    &mo 1            &lt 2 SPACE      &thumb LEFT_ALT ENTER    &kp RIGHT_ARROW  &lt 2 ENTER  &kp SPACE         &kp DEL
                                                                                                       &kp ENTER
            >;

            label = "QWERTY";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        NUMBERS {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp N1  &kp N2           &kp N3  &kp N4  &kp N5    &kp PAGE_UP      &kp N6     &kp N7  &kp N8  &kp N9            &kp N0             &kp BACKSLASH
&trans     &trans  &trans           &trans  &trans  &trans    &kp PAGE_DOWN    &kp MINUS  &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans     &trans  &trans           &trans  &trans  &trans    &kp HOME         &kp EQUAL  &trans  &trans  &trans            &trans             &trans
                   &rgb_ug RGB_TOG  &trans  &trans  &trans    &kp END          &trans     &trans  &trans
                                                              &kp PRINTSCREEN
            >;

            label = "NUMBER";
            sensor-bindings = <&rgbknob RGB_BRI RGB_BRD>;
        };

        FNMouse {
            display-name = "FN";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &mmv MOVE_UP     &kp F6   &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &kp F11    &mmv MOVE_DOWN   &kp F11  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &kp F12    &mmv MOVE_LEFT   &kp F12  &trans  &trans  &trans  &trans   &trans
                &trans  &trans  &trans  &trans     &mmv MOVE_RIGHT  &trans   &trans  &trans
                                                   &mkp LCLK
            >;

            label = "Fn";
            sensor-bindings = <&rgbknob RGB_EFF RGB_EFR>;
        };

        CONFIG {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_HUI  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_HUD  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_SAD  &trans        &trans        &trans        &trans        &trans        &trans
                &trans  &trans  &trans  &trans    &rgb_ug RGB_SAI  &trans        &trans        &trans
                                                  &rgb_ug RGB_EFF
            >;

            sensor-bindings = <&rgbknob RGB_SPI RGB_SPD>;
            label = "CONFIG";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        OnePlusTwo {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
